/* VARIAVEIS */
:root{
    --cor-primaria: #04AA6D;
}

/* PARA A BARRA DE NAVEGACAO FICAR COLADA NOS CANTOS DO SITE */
body{
    margin: 0;
}

.logo-do-site{
    width: 200px;
    margin-left: 10px;
}

/* CONFIGURAÇÃO DA BARRA DE NAVEGAÇÃO */
.nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    /* PARA FIXAR NO TOPO */
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar li{
    float: right;
}

.nav-bar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
}

.inativo:hover{
    background-color: #111;
}

.ativo{
    background-color: var(--cor-primaria);
}

/*.nav-bar li.botao-a-direita{
    float: right;
}*/

@media screen and (max-width: 793px) {
    /*.nav-bar li.botao-a-direita,*/
    .nav-bar li{
        float:none;
    }   

    /* PARA DAR UM ESPACO EM CIMA PARA A NAVBAR NÃO COBRIR OS TEXTOS 
    AQUI EM VEZ DE TITULO DEVE TER O NOME DA PRIMEIRA DIV*/
    
    
    
}

/* PARA DAR UM ESPACO EM CIMA PARA A NAVBAR NÃO COBRIR OS TEXTOS 
AQUI EM VEZ DE TITULO DEVE TER O NOME DA PRIMEIRA DIV*/
/*@media screen and (min-width: 793px){
    .titulo{
        margin-top: 5rem;
    }
}


/*--------------------------------*/





/*TELA DE LOGIN*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: var(--cor-primaria);
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 30%;

    border-radius: 10px;
}
  
button:hover {
    opacity: 0.8;
}

.login {
    padding: 16px;
}

.botao-login{
    display: flex;
    justify-content: center;
}

.titulo-tela-login{
    text-align: center;
}

#aviso-email-vazio{
    color: red;
    display: none;
}

#aviso-senha-vazia{
    color: red;
    display: none;
}


/*PRA FAZER SER POP UP*/
.modal {
    display: block; /* Hidden by default */         /*COLOCADO COMO "none" PARA TESTES, LEMBRAR DE VOLTAR PARA "block"*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;

    /*OQ EU MUDEI*/ 
    background-color: #fefefe;

}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto 15% auto; /* 15% from the top and centered */
    /*border: 1px solid #888;*/
    width: 70%; /* Could be more or less, depending on screen size */
}

